@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-dark: #292929;
  --color-light: #f2f2f2;
  --color-primary: #8c2c08;
  --color-secondary: #a6550f;
  --color-tertiary: #d9a566;
  --color-quaternary: #c1d9d9;
}

@layer base {
  body {
    @apply bg-light text-dark font-sans;
  }

  main {
    @apply min-h-screen p-4 md:p-8 text-dark;
  }

  h1 {
    @apply text-4xl font-bold text-primary mb-6;
  }

  h2 {
    @apply text-2xl font-semibold text-secondary mt-4 mb-2;
  }
}

@layer components {
  .btn {
    @apply inline-block rounded border-2 py-2 px-4 text-center font-semibold shadow-md cursor-pointer transition-colors duration-200;
  }

  .btn-sm {
    @apply text-sm py-1 px-3;
  }
  .btn-primary {
    @apply border-primary bg-primary text-light;
  }

  .btn-primary:hover {
    @apply bg-light text-primary;
  }

  .btn-secondary {
    @apply border-secondary bg-secondary text-light;
  }

  .btn-secondary:hover {
    @apply bg-light text-secondary;
  }

  .btn-secondary-reverse {
    @apply border-secondary bg-light text-secondary;
  }

  .btn-secondary-reverse:hover {
    @apply bg-secondary text-light;
  }
  
  .btn-tertiary {
    @apply border-tertiary bg-tertiary text-white;
  }

  .btn-tertiary:hover {
    @apply bg-light text-tertiary;
  }

  .btn-quaternary {
    @apply border-quaternary bg-quaternary text-dark;
  }

  .btn-quaternary:hover {
    @apply bg-light text-quaternary;
  }

  .field {
    @apply flex flex-col gap-2;
  }

  label {
    @apply uppercase text-sm text-primary font-semibold;
  }

  input {
    @apply rounded border border-dark bg-white py-1.5 px-2 mb-4;
  }
}
